<div class="contents">
    <div class="stats">
        <p class="stats-title">Vos statistiques de chasses</p>
        <div class="stats-items">
            <div class="stat-item hunt-carried-out">
                <p class="stat-item-key">Effectuées</p>
                <p class="stat-item-value">15</p>
            </div>
            <div class="stat-item successful-hunts">
                <p class="stat-item-key">Réussies</p>
                <p class="stat-item-value">9</p>
            </div>
            <div class="stat-item failed-hunts">
                <p class="stat-item-key">Echouées</p>
                <p class="stat-item-value">4</p>
            </div>
            <div class="stat-item abandoned-hunts">
                <p class="stat-item-key">Abandonnées</p>
                <p class="stat-item-value">2</p>
            </div>
        </div>
    </div>
    <div class="hunts">
        <p class="hunts-title">Liste de chasses</p>
        <div class="hunts-items">
            <div class="hunt-item">
                <div class="hunt-header">
                    <img src="assets/images/logo.png" alt="." class="hunt-user-avatar">
                    <p class="hunt-user-name">Creator User</p>
                </div>
                <div class="hunt-image">
                    <img src="assets/images/dashboard-card-image.svg" alt="Lootopia" class="hunt-image-content">
                </div>
                <div class="hunt-body">
                    <div class="hunt-infos">
                        <div class="hunt-title-price">
                            <p>Chasse aux oeufs</p>
                            <p>{{ 10 | currency:'EUR':'symbol':'1.2-2'}} </p>
                        </div>
                        <div class="hunt-date">
                            <p>Du 28/07/2025 au 28/07/2025</p>
                        </div>
                    </div>
                    <div class="hunt-description">
                        <p>
                            Venez découvrir les oeufs cachés dans la nature ! 
                            Des récompenses à la clé !
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Cum, doloribus ipsa? Velit ut, distinctio, earum autem 
                            sed magnam optio doloribus odit enim ratione excepturi 
                            repudiandae sit eos adipisci ipsum atque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="hunt-item">
                <div class="hunt-header">
                    <img src="assets/images/logo.png" alt="." class="hunt-user-avatar">
                    <p class="hunt-user-name">Creator User</p>
                </div>
                <div class="hunt-image">
                    <img src="assets/images/dashboard-card-image.svg" alt="Lootopia" class="hunt-image-content">
                </div>
                <div class="hunt-body">
                    <div class="hunt-infos">
                        <div class="hunt-title-price">
                            <p>Chasse aux oeufs</p>
                            <p>{{ 10 | currency:'EUR':'symbol':'1.2-2'}} </p>
                        </div>
                        <div class="hunt-date">
                            <p>Du 28/07/2025 au 28/07/2025</p>
                        </div>
                    </div>
                    <div class="hunt-description">
                        <p>
                            Venez découvrir les oeufs cachés dans la nature ! 
                            Des récompenses à la clé !
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Cum, doloribus ipsa? Velit ut, distinctio, earum autem 
                            sed magnam optio doloribus odit enim ratione excepturi 
                            repudiandae sit eos adipisci ipsum atque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="hunt-item">
                <div class="hunt-header">
                    <img src="assets/images/logo.png" alt="." class="hunt-user-avatar">
                    <p class="hunt-user-name">Creator User</p>
                </div>
                <div class="hunt-image">
                    <img src="assets/images/dashboard-card-image.svg" alt="Lootopia" class="hunt-image-content">
                </div>
                <div class="hunt-body">
                    <div class="hunt-infos">
                        <div class="hunt-title-price">
                            <p>Chasse aux oeufs</p>
                            <p>{{ 10 | currency:'EUR':'symbol':'1.2-2'}} </p>
                        </div>
                        <div class="hunt-date">
                            <p>Du 28/07/2025 au 28/07/2025</p>
                        </div>
                    </div>
                    <div class="hunt-description">
                        <p>
                            Venez découvrir les oeufs cachés dans la nature ! 
                            Des récompenses à la clé !
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Cum, doloribus ipsa? Velit ut, distinctio, earum autem 
                            sed magnam optio doloribus odit enim ratione excepturi 
                            repudiandae sit eos adipisci ipsum atque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="hunt-item">
                <div class="hunt-header">
                    <img src="assets/images/logo.png" alt="." class="hunt-user-avatar">
                    <p class="hunt-user-name">Creator User</p>
                </div>
                <div class="hunt-image">
                    <img src="assets/images/dashboard-card-image.svg" alt="Lootopia" class="hunt-image-content">
                </div>
                <div class="hunt-body">
                    <div class="hunt-infos">
                        <div class="hunt-title-price">
                            <p>Chasse aux oeufs</p>
                            <p>{{ 10 | currency:'EUR':'symbol':'1.2-2'}} </p>
                        </div>
                        <div class="hunt-date">
                            <p>Du 28/07/2025 au 28/07/2025</p>
                        </div>
                    </div>
                    <div class="hunt-description">
                        <p>
                            Venez découvrir les oeufs cachés dans la nature ! 
                            Des récompenses à la clé !
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Cum, doloribus ipsa? Velit ut, distinctio, earum autem 
                            sed magnam optio doloribus odit enim ratione excepturi 
                            repudiandae sit eos adipisci ipsum atque.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>