<section class="landing-container">
    <h1 class="title">Lootopia</h1>
  
    <div class="container-gold">
      <h2 class="subtitle">Lootopia, c'est quoi ?</h2>
      <p class="description">
        Une plateforme de chasse au trésor ludique et immersive grâce à notre technologie de Réalité Augmentée. Accessible sur smartphone et tablette Créé, participe, gagne !  
      </p>  
    </div>
</section>

    <div class="full-width-image">
      <img src="assets/images/maps.jpg" alt="Carte du trésor" class="image" />
      <p class="overlay-text">Localise le trésor</p>
    </div>

    <div class="separator"></div>

    <!-- FEATURES SECTION -->
    <section class="features-section">
      <div class="feature-box">
        <div class="feature-icon">
          <i class="fa-solid fa-compass"></i>
        </div>
        <h3 class="feature-title">Participe</h3>
        <p class="feature-text">
          Participez à des chasses aux trésors grandeurs natures, plus incroyables les unes que les autres.
        </p>
      </div>
      <div class="feature-box">
        <span class="feature-icon">
          <i class="fa-solid fa-map-location-dot"></i>
        </span>
        <div class="feature-content">
          <h3>Créé</h3>
          <p class="feature-text">Créez vos propres chasses aux trésors. Que ce soit pour vos amis, votre travail ou simplement par passion, laissez vos idées prendre vie.</p>
        </div>
      </div>
      <div class="feature-box">
        <span class="feature-icon">
          <i class="fa-solid fa-trophy"></i>
        </span>
        <div class="feature-content">
          <h3>Gagne</h3>
          <p class="feature-text">Après d'intenses recherches, trouvez les objectifs et gagnez les chasses.</p>
        </div>
      </div>
      <div class="feature-box">
        <span class="feature-icon">
          <i class="fa-solid fa-medal"></i>
        </span>
        <div class="feature-content">
          <h3>Collectionne</h3>
          <p class="feature-text">Au fur et à mesure de vos parcours, agrandissez votre collection de badges afin de débloquer des avantages exclusifs.</p>
        </div>
      </div>
    </section>